<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Dedi</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.27.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.btider.dediapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dedidedi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.27.1.4</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LOGS_EMAIL</key>
	<string>dedidestek@btider.org.tr</string>
	<key>LOGS_URL</key>
	<string>http://dedi.link</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>btk.gov.tr</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>dedi.com.tr</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Dedi medya eklerini oynamak için Apple Müzik kullanmanız gerekir.</string>
	<key>NSCameraUsageDescription</key>
	<string>Dedi fotoğraf çekmek ve video görüşmeleri yapmak için kameranızı kullanır.</string>
	<key>NSContactsUsageDescription</key>
	<string>Dedi, tanıdığınız kullanıcıları bulmak için kişilerinizi kullanır. Kişilerinizi sunucuda saklamıyoruz.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Dedi Ekran Kilidi Yüz Kimliği kullanır.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Telefon görüşmeleri yapmak ve almak ve sesli mesaj kaydetmek için Dedi&apos;nin mikrofonunuza erişmesi gerekir.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Dedi, fotoğrafları kütüphanenize kaydedecektir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Dedi kütüphanenizden hangi fotoğrafların gönderileceğini seçmenize izin verecektir.</string>
	<key>UIAppFonts</key>
	<array>
		<string>dripicons-v2.ttf</string>
		<string>ElegantIcons.ttf</string>
		<string>fontawesome-webfont.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Yeni Mesaj</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.btider.dediapp.quickCompose</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
